body {
    display: flex;
    align-content: center;
    justify-content: center;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    max-width: 12em;
    margin: 1em auto;
}

.container {
    position: relative;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.prizesWheelContainer {
    width: 25em;
    height: 25em;
    border: 15px solid black;
    position: relative;
    padding: 0;
    margin: 1em auto;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.prizesWheel {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
}

.prizesWheel::before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    left: calc(50% - 0.75em);
    top: calc(50% - 0.75em);
    background-color: white;
    z-index: 2;
    position: absolute;
}

.prizesWheel > li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0 100%;
}

.text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    display: block;
    transform: skewY(60deg) rotate(15deg);
    padding-top: 20px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    background: #f89d14;
    display: inline-block;
    height: 2em;
    width: 1.5em;
    transform: rotate(180deg);
    z-index: 3;
}
.arrow:before {
    border-bottom: 1em solid #f89d14;
    border-left: 0.75em solid transparent;
    border-right: 0.75em solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -1em;
    width: 0;
}

#button {
    position: relative;
    width: 100%;
    height: 2em;
    background-color: black;
    color: white;
    font-size: 1.5em;
    border-radius: 0.5em;
    margin: 1em auto;
}

.wheelStartAnimation {
    animation: start-rotate 1s linear infinite;
}

.wheelStopAnimation {
    animation-play-state: paused;
}

@keyframes start-rotate {
    100% {
        transform: rotate(360deg);
    }
}